* {  /* CSS Reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 29, 123);
    color: white;
    font-family: "DM Sans", sans-serif;
}

/* Header */
header {
    height: 300px;
    background-image: url(../img/banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: 500;
    line-height: 1;
    margin: 30px 60px 15px 0;
}

/* Main */
.download-section h1 {
    margin: 20px 25px;
}

.download-section {
    width: 80%;
    margin: 50px auto 20px;
    text-align: center;
}

button {
    width: 100%;
    margin: 10px 0;
    padding: 15px 40px;
    border-radius: 12px;
    font-size: 1.2rem;
}

.donlwoad-button {
    background-color: rgb(255, 255, 255);
}

.browser-button {
    background-color: rgb(88, 101, 242);
    color: white;
}

.card {
    margin: 50px auto;
    width: 90%;
    background: #32328C;
    background: linear-gradient(150deg, rgb(50, 50, 140) 0%, rgb(49, 66, 166) 30%, rgb(49, 106, 166) 100%);
    padding: 30px;
    border-radius: 30px;
    position: relative;
}

.card video {
    border-radius: 20px;
    margin: 20px 0 30px 0;
    max-width: 100%;
}

.icon {
    width: 100px;
    height: 100px;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon.cube{
    background-image: url(../img/discord_cube.png);
}

.icon.eyes{
    background-image: url(../img/eyes.png);
}