* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-color: rgb(25, 29, 123);
    color: white;
    font-family: "DM Sans", sans-serif;
}

.download-section h1 {
    font-family: "Sigmar", sans-serif;
    font-weight: 500;
    line-height: 1;
    margin: 20px 25px;
}

.download-section {
    width: 80%;
    margin: 80px auto 20px;
    text-align: center;
}